{{ define "main" }}
<section class="post-list">
  <div class="section-head">
    <h1>{{ .Title }}</h1>
  </div>
  <div class="posts-grid">
    {{ range .Pages }}
      {{ if not .Draft }}
        <article class="post-card">
          <a href="{{ .RelPermalink }}">
            {{ with .Params.featured_image }}
              <img src="{{ . | relURL }}" alt="{{ $.Params.featured_image_alt }}">
            {{ end }}
            <div class="post-card-body">
              <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "2006.01.02" }}</time>
              <h2>{{ .Title }}</h2>
              <p>{{ with .Params.description }}{{ . }}{{ else }}{{ .Summary }}{{ end }}</p>
            </div>
          </a>
        </article>
      {{ end }}
    {{ end }}
  </div>
</section>
{{ end }}
